/* App.css */


.content-container {
  flex: 1; /* Allow the content to grow and take up remaining space */
  display: flex;
}

/* Adjust the width of the sidebar and map as needed */
.sidebar {
  width: 250px; /* Set the width of the sidebar */
  background-color: #007bff;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style the map to take up the remaining space */
.map {
  flex: 1;
}
